body {
    background-color: #292929;
    color: aliceblue;
    margin: 0px;
}

.container{
    margin: 30px auto;
    width: 100%;
}

.container img{
    width: 200px;
}

.films{
    column-width: 12em;
    column-rule: 1px solid rgb(75, 70, 74);
}


a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: #0a58ca;
}

.button {
    margin-bottom: 20px;
}


